body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #017AB1, #004e6a);
}
.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 30px;
    width: 350px;
    height: 530px;
    background-color: rgb(230, 230, 230);
}
.slidebutton {
    display: flex;
    flex-direction: column;
}
mat-progress-bar{
    width: 300px;
}