body {
    background-color: rgb(177, 177, 255);
    width: 100vw;
    height: 100vh;
}
.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slidebutton {
    display: flex;
    flex-direction: column;
}