<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Menu</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <div class="example-button-row">
    <a mat-fab routerLink="." class="btnLink">Link</a>
  </div>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  <mat-card-title>Shiba Inu</mat-card-title><br>
  <mat-card-content>
    <p>This card has divider and indeterminate progress as footer</p>
    <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. 
      A small, agile dog that copes very well with mountainous terrain, 
      the Shiba Inu was originally bred for hunting.</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
