<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="corpo">

    <h1>Olá Devs!</h1>

    <p>Aprendendo a usar Angular e Angular/Material</p>

    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    
    <div class="slidebutton">
     <mat-slide-toggle>HTML</mat-slide-toggle>
     <mat-slide-toggle>CSS</mat-slide-toggle>
     <mat-slide-toggle>GIT/GITHUB</mat-slide-toggle>
     <mat-slide-toggle>ANGULAR</mat-slide-toggle>
    </div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    
  </div>

</body>
</html>
<router-outlet></router-outlet>