.btnLink{
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(57, 2, 65);
}

.example-button-row{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}