<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="corpo">

    <h1>Olá Devs!</h1>
    <p>Aprendendo a usar Angular e Angular/Material</p>

    <mat-spinner></mat-spinner>
    
    <div class="slidebutton">
     <mat-slide-toggle>HTML</mat-slide-toggle>
     <mat-slide-toggle>CSS</mat-slide-toggle>
     <mat-slide-toggle>GIT/GITHUB</mat-slide-toggle>
     <mat-slide-toggle>ANGULAR</mat-slide-toggle>
    </div>
  </div>

</body>
</html>
<router-outlet></router-outlet>